body {
    background: linear-gradient(90deg, #000000, #ff69b4);
    background-size: 200% 200%;
    animation: gradientShift 5s ease infinite;
    height: 100vh;
    margin: 0;  
    display: flex; 
    justify-content: center;
    align-items: center; 
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 3em; 
}

@keyframes gradientShift {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

