body {
    background: linear-gradient(45deg, #000000, #ff69b4);
    background-size: 300% 300%;
    animation: gradientShift 15s ease infinite;
    height: 100vh; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 3em; 
}

@keyframes gradientShift {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

	
